WebServiceNotasClient/web/WEB-INF/wsdl/localhost_8080/WebServiceNotas/Definitiva.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://Definitiva.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Definitiva.com/">

<xs:element name="getNotas" type="tns:getNotas"/>

<xs:element name="getNotasResponse" type="tns:getNotasResponse"/>

<xs:complexType name="getNotas">
<xs:sequence>
<xs:element name="nota1" type="xs:double"/>
<xs:element name="nota2" type="xs:double"/>
<xs:element name="nota3" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>